<!DOCTYPE HTML>
<html>
  <head>
    <title>Hewe be 1000 year old dwagons!</title>
    <meta name="description" content="Check your Steam library to see whether or not you are degenerate scum!">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="weeb, anime, steam, games, test">
    <link rel="stylesheet" type="text/css" href="/static/error.css">
  </head>

  <body>
    <img src="/static/STOP.gif" class="center"><img>
    <h1>OOPSIE WOOPSIE!! Uwu We make a fucky wucky!! A wittle fucko boingo! The code monkeys at ouw headquawtews awe wowking VEWY HAWD tuwu fix this!</h1>
    <h2>Thiws happens sometimes whewn youw <a href="https://steamcommunity.com/my/edit/settings">steam pwivacy settings</a> awe incowwect.</h2>
    <h2>Error: {{ error }}</h2>
  </br>
    <h2>Click <a href="">here!!!</a> to return to the main page</h2>
    
    <!-- areyouaweeb.com Copyright © 2019 Joshua Kalyanapu joshuak.me
    all copyrighted works used are considered 'Fair Use' under 17 U.S. Code § 107.
    source: https://gitlab.com/D3CIM8OR/areyouaweeb.com -->

  </body>
</html>
    