<!DOCTYPE HTML>
<html>
  <head>
    <title>Are you a weeb?</title>
    <meta name="description" content="Check your Steam library to see whether or not you are degenerate scum!">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="weeb, anime, steam, games, test">
    <link rel="stylesheet" type="text/css" href="/static/index.css">
  </head>

  <body>
    <h1 style="text-align: center;">Are you a weeb?</h1>
    <h2 style="text-align: center;">Enter your Steam ID below</h2>
    <div style="text-align: center">
      <form action="/index/" method="post">
	{% csrf_token %}
	{{ form }}
	<input type="submit" value="Submit">
      </form>
    </div>

    <!-- areyouaweeb.com Copyright © 2019 Joshua Kalyanapu joshuak.me
    all copyrighted works used are considered 'Fair Use' under 17 U.S. Code § 107.
    source: https://gitlab.com/D3CIM8OR/areyouaweeb.com -->
    
  </body>
</html>
