<!DOCTYPE HTML>
<html>
  <head>
    <title>Are you a weeb?</title>
    <meta name="description" content="Check your Steam library to see whether or not you are degenerate scum!">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="weeb, anime, steam, games, test">
    <link rel="stylesheet" type="text/css" href="static/results.css">
  </head>

  <body>
    <h1>Congratulations, you degenerate</h1>
    <main>
    <h2>In total, you have {{ nGames }} games, {{ nWeebGames }} of which are weeb games. Your library is composed of {{ weebPercentage }} weeb games. Get off your pathetic body pillow and go on a date.</h2>
  </main>
    <!-- areyouaweeb.com Copyright © 2019 Joshua Kalyanapu joshuak.me
    all copyrighted works used are considered 'Fair Use' under 17 U.S. Code § 107.
    source: https://gitlab.com/D3CIM8OR/areyouaweeb.com -->
    
  </body>
</html>
