/* TODO: Make this page look as disgusting as possible.
*/
body {
    background-color: #eee8d5;
    }
  
h1 {
    color: magenta;
    text-align: center;
    font-family: "Comic Sans MS", "Chalkboard SE", "Comic Neue", cursive, sans-serif;
    font-size: 3em;
    }

h2 {
    color: #657b83;
    text-align: center;
    font-family: sans-serif;
    font-size: 1em;
    }
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
      }