body {
    background-color: gray;
    background: url("animo.png"); 
    background-repeat: no-repeat;
    font-family: sans-serif;
    background-position: center;
    }
  
h1 {
    padding-top: 3em;
    color: white;
    text-align: center;
    font-size: 5em;
    line-height: 0;
    -webkit-text-stroke-width: 0.063em;
    -webkit-text-stroke-color: black;
    }

h2 {
    color: white;
    text-align: center;
    font-size: 2em;
    -webkit-text-stroke-width: 0.063em;
    -webkit-text-stroke-color: black;
    }

form {
    border: 0;
    padding:10px;
    font-size: 1em;
    color:white;
}
input[type="submit"] {
    background: red;
    color: white;
    font-size: 1em;
    border: 0;
    padding: 0.375em;

  }
