body {
    background:
        linear-gradient(135deg, #ECEDDC 25%, transparent 25%) -50px 0,
        linear-gradient(225deg, #ECEDDC 25%, transparent 25%) -50px 0,
        linear-gradient(315deg, #ECEDDC 25%, transparent 25%),
        linear-gradient(45deg, #ECEDDC 25%, transparent 25%);
        background-size: 100px 100px;
        background-color: #EC173A;
    }
  
    h1 {
        padding-top: .5em;
        color: white;
        text-align: center;
        font-size: 5em;
        line-height: 0;
        -webkit-text-stroke-width: 0.063em;
        -webkit-text-stroke-color: black;
        font-family: sans-serif;
        }

    main {
        max-width: 10in;
        margin:auto;
        background: black;
    }    

    h2 {
        color: white;
        text-align: center;
        font-family: sans-serif;
        font-size: 3em;
       }
    